[Desktop Entry]
Type=Application
Exec=sudo sed -i 's+Icon=.*$+Icon=/usr/share/icons/hicolor/48x48/apps/io.elementary.appcenter.png+g' /usr/share/applications/io.elementary.appcenter.desktop\n
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=set default pop shop icon
Name=set default pop shop icon
Comment[en_US]=revert the pop shop icon to default
Comment=revert the pop shop icon to default
